* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.514)),
    url(BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
img {
  width: 14rem;
  height: 14rem;
  border-radius: 10px;
  border-bottom-right-radius: 20px;
  transition: 0.8s;
  transform: rotateY(180deg);
}
#content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 30px;
  gap: 10px;
  padding-right: 44rem;
  align-items: end;
}
.food {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 16rem;
  width: 100%;
}
.detail {
  display: flex;
  padding-top: 10px;
  color: white;
  letter-spacing: 2px;
  font-family: sans-serif;
  font-weight: 400;
  flex-direction: column;
  gap: 40px;
}
.icon {
  transition: 0.6s;
}
.icon:hover {
  color: red;
}
img:hover {
  transform: scale(1.1);
}
.btn {
  height: 20px;
  width: 15rem;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: sans-serif;
}
.btn:hover{
    color: red;
    border-radius: 8px;
    background-color: black;
    transition: 0.6s ease-in-out;
}
